* {
  box-sizing: border-box;
}
@font-face {
  font-family: "TT Nooks Script";
  src: url("/fonts/TTNooksScript-Bold.woff2") format("woff2"), url("/fonts/TTNooksScript-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bradford LL";
  src: url("/fonts/BradfordLL-Regular.woff2") format("woff2"), url("/fonts/BradfordLL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bradford LL";
  src: url("/fonts/BradfordLL-Italic.woff2") format("woff2"), url("/fonts/BradfordLL-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Necto Mono";
  src: url("/fonts/Necto-Mono.woff2") format("woff2"), url("/fonts/Necto-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Debrovnik Hill Italic";
  src: url("/fonts/Debrovnik Hill Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Debrovnik Hill Reguler";
  src: url("/fonts/Debrovnik Hill Reguler.ttf") format("truetype");
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  flex-grow: 1;
  -webkit-print-color-adjust: exact;
}
#main-letter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: auto;
  background-color: white;
  height: 100%;
  min-height: 100%;
}
#main-letter.print {
  max-width: unset;
}
#main-letter .left,
#main-letter .right {
  width: max-content;
  padding: 20px 8px;
  font-family: "Bradford LL";
  font-style: italic;
  text-transform: capitalize;
  font-size: 20px;
  min-height: max-content;
  text-align: center;
}
#main-letter .left {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  margin-left: 6px;
}
#main-letter .right {
  writing-mode: vertical-rl;
  margin-right: 6px;
}
#main-letter .center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
}
#main-letter .center .top {
  padding: 20px 0 24px;
  border-bottom: 1px solid black;
}
#main-letter .center .top .header-logo {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 1px 24px;
  margin: 0 auto;
  position: relative;
}
#main-letter .center .top .header-logo::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  border-radius: 1px;
  background-color: black;
}
#main-letter .center .header-logo .cr-logo {
  font-family: "TT Nooks Script";
  font-weight: 700;
  font-size: 40px;
}
#main-letter .center .header-logo .customer-name {
  text-align: center;
  font-family: "Debrovnik Hill Italic";
  text-transform: capitalize;
  font-weight: 700;
  color: black;
  font-size: 32px;
}

#main-letter .center .middle {
  padding: 24px 56px;
  font-family: "Necto Mono";
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid black;
}
#main-letter .center .middle .header {
  font-family: "Bradford LL";
  font-size: 28px;
  text-align: center;
  margin-bottom: 24px;
}
#main-letter .center .middle .body .customer-name {
  font-weight: 700;
  text-transform: capitalize;
}
#main-letter .center .middle .body p {
  margin-bottom: 8px;
  line-height: 140%;
  display: block;
}
.logo-svg {
  transform: rotate(90deg);
  margin: 10px;
}
#main-letter .center .footer {
  margin-top: 24px;
}
#main-letter .center .footer h5 {
  font-family: "Bradford LL";
  font-size: 16px;
  font-style: italic;
}
